.pagination {
  display: flex;
  justify-content: center;
  padding: 0.3em;
  margin: 0.8em 0.8em 0.8em 1.5em;
}

.pagination-button {
  margin: 0 1em 0 1em;
}

.pagination-number {
    margin: 0 0.4em 0 0.4em;
    font-weight: bold;
}

.pagination-number-active {
    border: 1px solid var(--black);
    padding: 0 0.3em 0 0.3em;
}
