
.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.company-name {
    display: flex;
    align-items: center;
    font-size: 2.1em;
  }
  
.project-name {
    display: flex;
    align-items: center;
    font-size: 1.7em;
}

.light-grey {
    color: var(--light-grey)
}
  
.dark-grey {
    color: var(--dark-grey)
}
  
.black {
    color: var(--black);
    font-weight: bold;
}
  
.light-black {
    color: var(--light-black)
}
  
.dark-black {
    color: var(--dark-black);
    margin-left: 0.2em;
}

/* Small screens */
@media all and (max-width: 500px) {
    .header {
      flex-direction: column;
    }
}